[user]
	name = nipun
	email = nipuncod@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	safecrlf = warn
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --oneline --graph --all --decorate=short
	lg = log --oneline -n 30 --decorate=short
	type = cat-file -t
	pprint = cat-file -p
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[merge]
	tool = nvimdiff
