[user]
  name = nipun
  email = nipuncod@gmail.com
[init]
  defaultBranch = main
[credential]
  helper = store
[core]
  autocrlf = input
  safecrlf = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --oneline --graph
  type = cat-file -t
  pprint = cat-file -p
