[user]
	name = nipun
	email = nipuncod@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	safecrlf = warn
	excludesFile = /home/nipun/.gitignore_global
[alias]
	hist = log --oneline --graph --all --decorate=short
	lg = log --oneline -n 10 --decorate=short
[url "https://github.com/"]
	insteadOf = gh:
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[merge]
	tool = nvimdiff
