* {
    bg:            #212121;
    bg-alt:        #616161;
    fg:            #e0e0e0;
    red:           #e57373;
    green:         #81c784;
    yellow:        #fff176;
    blue:          #64b5f6;
    magenta:       #ba68c8;
    cyan:          #4dd0e1;
    selected-bg:   #424242;
    selected-fg:   #ffffff;
}
