(defcfg
  process-unmapped-keys yes
  )

(defsrc
  caps ins
  )

(defvar
  ;; try lowering these times
  tap-timeout 150  ;; max time for a double-tap & hold to register the tap action
  hold-timeout 150 ;; min time for a hold to register ;; max time until which a tap will get registered
  tap-dance-timeout 150

  tt $tap-timeout
  ht $hold-timeout
  tdt $tap-dance-timeout
  )

(defalias
  caps_mod (tap-hold $tt $ht esc ctl)
  ins2caps (tap-dance $tdt (caps ins))
  )

(deflayer base-layer
  @caps_mod @ins2caps
  )
