* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 12px;
}

#workspaces button {
  padding: 0 4px;
  border-radius: 0px;
  color: #bdc6d6;
}

#workspaces button.focused {
  background-color: #30343e;
  color: #c2cbdc;
}

#workspaces button.urgent {
  background-color: #e06c75;
  color: #c2cbdc;
}

#mode {
  background-color: #61afef;
  color: #23262d;
  padding: 0 10px;
  margin-left: 8px;
}

window#waybar {
  border-radius: 0px;
  background-color: #23262d;
  color: #c2cbdc;
}

#wireplumber,
#backlight,
#network,
#battery,
#clock {
  background-color: #30343e;
  padding: 0 10px;
  margin: 0 4px;
}

#workspaces button:hover,
#wireplumber:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#clock:hover {
  background-color: rgba(48, 52, 62, 0.9);
  color: #c2cbdc;
}

#battery.warning {
  color: #e5c07b;
}

#battery.critical {
  color: #e06c75;
}
