* {
  border: none;
  border-radius: 6px;
  font-family: "Hack Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  background: #2e3440;
  color: #e5e9f0;
}

#workspaces button {
  padding: 0 6px;
  background: transparent;
  color: #5e81ac;
  margin: 0 1px;
}

#workspaces button.focused {
  background: #434c5e;
  color: #e5e9f0;
}

#workspaces button.urgent {
  background: #bf616a;
  color: #e5e9f0;
}

#mode {
  background: #5e81ac;
  color: #2e3440;
  padding: 0 10px;
  margin-left: 8px;
}

#wireplumber {
  background: #434c5e;
  padding: 0 10px;
  margin: 0 4px;
}

#network {
  background: #434c5e;
  padding: 0 10px;
  margin: 0 4px;
}

#backlight {
  background: #434c5e;
  padding: 0 10px;
  margin: 0 4px;
}

#battery {
  background: #434c5e;
  padding: 0 10px;
  margin: 0 4px;
}

#battery.warning {
  color: #ebcb8b;
}

#battery.critical {
  color: #bf616a;
}

#clock {
  background: #434c5e;
  padding: 0 10px;
  margin: 0 4px;
}

#workspaces button:hover,
#wireplumber:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#clock:hover {
  background: #5e81ac;
  color: #e5e9f0;
}

