tabs {
  counter-reset: tab-counter;
}

.tab-label::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) " - ";
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
  max-height: 0;
  min-height: 0!important;
  --tridactyl-auto-show-zone: 10px;
  margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
  opacity: 0;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
  max-height: 1px;
  min-height: calc(0px);
  overflow: hidden;
}

#navigator-toolbox::after {
  display: none !important;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #urlbar {
  min-height: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

:root:not([customizing]) #navigator-toolbox #urlbar-container {
  --urlbar-container-height: auto !important;
}

#TabsToolbar {
  visibility: collapse;
}